######################
# Project Specific
######################
/addon-db
/.node
/node_modules
!/repository/**
/.idea
/presentation/react/react-exercises/node_modules
/presentation/tools/node_modules
######################
# Directories
######################
/dist/**
